@{
  ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/tipoEjercicios.css">
<link rel="stylesheet" href="~/css/home.css">

<div class="text-center">
  <h1 class="display-4 tituloEj mt-2">¡Bienvenidos!</h1>
  <h3 class="display-4 tituloEj mt-2">App de Actividades Fisicas del Instituto Ezpeleta</h3>
</div>


<div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
  <div class="col">
    <div class="tarjeta card h-100">
      <div class="card-body">
        <h5 class="card-title text-center text-secondary">¿En que consiste?</h5>
        <hr class="hr-gris">
        <p class="card-text text-secondary">Nuestra aplicación ofrece una solución integral para la gestión y visualización de datos.
          Con un
          enfoque intuitivo y eficiente, permite a los usuarios agregar, editar y eliminar datos de manera sencilla a
          través de
          tablas interactivas. Esta funcionalidad proporciona una experiencia fluida y flexible para la gestión de
          información.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="tarjeta card h-100">
      <div class="card-body">
        <h5 class="card-title text-center text-secondary">Agregar, Editar y Eliminar</h5>
        <hr class="hr-gris">
        <p class="card-text text-secondary">La función de agregar datos permite a los usuarios ingresar nueva información de manera
          rápida y
          precisa, con campos personalizables para adaptarse a diferentes tipos de datos y necesidades específicas. La
          capacidad
          de editar datos proporciona flexibilidad, permitiendo correcciones y actualizaciones en tiempo real, sin
          complicaciones.
          Por otro lado, la función de eliminar datos ofrece un proceso seguro para eliminar registros obsoletos o
          incorrectos,
          manteniendo la integridad de la base de datos.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="tarjeta card h-100">
      <div class="card-body">
        <h5 class="card-title text-center text-secondary">Muestra en Graficos</h5>
        <hr class="hr-gris">
        <p class="card-text text-secondary">Nuestra aplicación va más allá de la simple gestión de datos al proporcionar potentes
          capacidades
          de visualización a través de gráficos dinámicos. Una vez que los datos se han ingresado y organizado en
          tablas, los
          usuarios pueden acceder a una función dedicada para generar gráficos informativos.</p>
      </div>
    </div>
  </div>
</div>
