@{
  ViewData["Title"] = "Informe";
}

<link rel="stylesheet" href="~/css/tipoEjercicios.css">

<div class="text-center">
  <h1 class="display-4 tituloEj mt-2">Informe Ejercicios Fisicos</h1>
</div>


  <div class="card card-body bg-dark">
    <div class="row">
      <div class="col-md-2">
        <label for="FechaDesdeBuscar" class="form-label text-light">Fecha desde</label>
        <input type="date" id="FechaDesdeBuscar" class="form-control" onchange="ListadoInformeEjerciciosFisicos()"/>
      </div>
      <div class="col-md-2">
        <label for="FechaHastaBuscar" class="form-label text-light">Fecha hasta</label>
        <input type="date" id="FechaHastaBuscar" class="form-control"  onchange="ListadoInformeEjerciciosFisicos()"/>
      </div>
      <div class="col-md-2 mt-4">
        <button type="button" class="btn btn-danger" onclick="LimpiarFiltros()">Limpiar</button>
      </div>
    </div>
  </div>



<table class="table table-dark table-bordered table-striped">
  <thead>
    <tr>
      <th class="text-center">Tipo de Ejercicio</th>
      <th class="text-center">Fecha Inicio</th>
      <th class="text-center">Estado Emocional</th>
      <th class="text-center">Fecha Fin</th>
      <th class="text-center">Estado Emocional</th>
      <th class="text-center">Duracion</th>
      <th class="text-center">Observaciones</th>
      <th class="text-center">Lugar</th>
    </tr>
  </thead>
  <tbody id="tbody-informe"></tbody>
</table>



@section Scripts {
  <script src="~/js/informeEjercicios.js"></script>
}