@{
    ViewData["Title"] = "Tipo de Ejercicios";
}

<link rel="stylesheet" href="~/css/tipoEjercicios.css">

<div class="text-center">
    <h1 class="display-4 tituloEj mt-2">Tipos De Ejercicios</h1>
</div>

<!-- Button trigger modal -->
<div class="mb-2">
    <button type="button" onclick="ListadoTipoEjercicios()" class="btn btn-outline-danger">
    <i class="fa-solid fa-arrows-rotate"></i> Refrescar Datos
    </button>
    <button type="button" onclick="NuevoRegistro()" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#ModalTipoEjercicio">
    <i class="fa-solid fa-plus"></i> Nuevo Registro
    </button>
</div>



<!-- Modal -->
<div class="modal fade" id="ModalTipoEjercicio" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModal"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <form>
        <div>
          <input type="hidden" id="IdEjercicios" value="0">
          <label for="descripcion" class="form-label">Descripción</label>
          <input type="text" class="form-control" id="descripcion" style="text-transform:uppercase" placeholder="Nombre de la actividad">
        </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="LimpiarModal()" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" onclick="GuardarRegistro()" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>



<table class="table table-dark table-bordered table-striped">
    <thead>
        <tr>
            <th>Descripción</th>      
            <th style="width: 40px"></i></th>
            <th style="width: 40px"></th>
        </tr>
    </thead>
    <tbody id="tbody-tipoejercicios"></tbody>
</table>



@section Scripts{
    <script src="~/js/tipoejercicios1.0.0.js"></script>
}


